<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Article" value="F:/English/Article.html"/>
		<add key="WordsLibrary" value="F:/English/WordsLibrary.txt"/>
		<add key="English_Words_Html" value="F:/English/English_Words.htm"/>
	</appSettings>
</configuration>